#contenedor{
border:3px solid black;
width:1200px;
height:650px;
margin:20px auto;
}

h1{
text-align:center;
}
#content01{

width:100px;
height:500px;
border:3px solid black;
}
#game{

width:100px;
height:500px;
border:3px solid black;
}
#content02{

width:100px;
height:500px;
border:3px solid black;
}
.clear{
clear:both;
}
.contenido{
float:left;
}